<form [formGroup]="form" (ngSubmit)="onLogin()">

    <mat-form-field appearance="outline">
        <mat-label>usuario</mat-label>
        <input matInput formControlName="usuario">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>usuario</mat-label>
        <input matInput formControlName="contrasenia" type="password">
    </mat-form-field>

    <button mat-button>Entrar</button>

</form>

<button mat-raised-button>Entrar con Google</button>
<button mat-raised-button>Entrar con Facebook</button>
