::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
}

.title{
    font-size: 30px;
    font-weight: 700;
    padding: 8%;
}

.footer-container{    
    button{        
        padding: 3%;
    }
}